[*.cs]

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# CS5001: Program does not contain a static 'Main' method suitable for an entry point
dotnet_diagnostic.CS5001.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# S3246: Generic type parameters should be co/contravariant when possible
dotnet_diagnostic.S3246.severity = none

# S2933: Fields that are only assigned in the constructor should be "readonly"
dotnet_diagnostic.S2933.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none

# S3011: Reflection should not be used to increase accessibility of classes, methods, or fields
dotnet_diagnostic.S3011.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = none

# S112: General exceptions should never be thrown
dotnet_diagnostic.S112.severity = none

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none
